/* Write your CSS here */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.app-container {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(to top, #9796f0, #fbc7d4);
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.app-card {
  width: 100%;
  max-width: 1000px;
  min-height: 80vh;
  background-color: #ffffff;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.appointment-form-container {
  width: 100%;
  max-width: 800px;
  height: 300px;
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  border-bottom: 2px solid #b5b7c4;
}

.appointment-image {
  width: 400px;
}

.form-container {
  width: 350px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.heading {
  font-size: 30px;
  color: #171f46;
  margin-bottom: 30px;
}

.form {
  width: 100%;
  max-width: 300px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.form-text {
  font-size: 13px;
  color: #b5b7c4;
  font-weight: bold;
}

.input {
  width: 100%;
  height: 30px;
  margin: 10px 0px;
  padding: 10px;
  font-size: 16px;
  outline: none;
  border: 1px solid #b5b7c4;
  border-radius: 5px;
}

.add-btn {
  width: 50px;
  padding: 5px;
  border: none;
  color: #ffffff;
  background-color: #8b5cf6;
  border-radius: 5px;
  cursor: pointer;
}

.appointments-wrapper {
  width: 100%;
  max-width: 800px;
  margin-top: 20px;
}

.appointment-text-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.appointment-list-wrapper-heading {
  font-size: 22px;
  color: #171f46;
}

.starred-btn {
  width: 90px;
  font-size: 13px;
  padding: 5px;
  border-radius: 12px;
  border: 2px solid #b5b7c4;
  background-color: transparent;
  color: #8b5cf6;
  cursor: pointer;
}

.appointments-items-container {
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  margin: 10px 0px 0px 0px;
  overflow-y: auto;
  height: 300px;
}

.isActive {
  background-color: #8b5cf6;
  color: #ffffff;
}

@media screen and (max-width: 768px) {
  .appointment-image {
    display: none;
  }
  .form-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
  .appointment-text-container {
    padding: 5px;
    width: 100%;
  }
}
